@font-face {
    font-family: 'VK Sans Display';
    src: url("./fonts/vk-sans/VK_Sans_DemiBold_vk_leaks.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: 'VK Sans Display';
    src: url("./fonts/vk-sans/VK_Sans_Medium_vk_leaks.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}